@import controllers.web.routes
@import crypto.Encrypt
@()(implicit messages: Messages, requestHeader: RequestHeader, encrypt: crypto.Encrypt)
@views.html.web.templates.default("Exclusive Offers") {
    <section>
        <div class="row not-found" style="background: url('https://s3-us-west-2.amazonaws.com/travelden/gift-jeans-fashion-pack-157879.jpeg'); background-size: cover ">
            <div class="container" style="width: 35%">
                <div class="row">
                    <div class="panel" style="margin: 100px 0;">
                        <div class="panel-heading">
                            <h2 style="color: #999;"><span class="fa fa-gift"></span> Join our Exclusive List</h2>
                            <p style="color: #000;">Get the latest updates on the most affordable ticket rates, hotel deals and vacation packages delivered right in your inbox</p>
                        </div>
                        <div class="panel-body">
                            <form method="POST" id="newsletterSubscribe" data-validate="parsley" class="form" action="@routes.ApplicationCtrl.newsletterSubscribe" enctype="application/x-www-form-urlencoded">
                                @helper.CSRF.formField
                                <div class="col-md-12 form-group clear-padding">
                                    <input type="text" placeholder="Full Name" class="form-control" name="fullname" data-required="true" required />
                                </div>
                                <div class="col-md-12 form-group clear-padding">
                                    <input type="email" placeholder="Email address" class="form-control" name="email" data-required="true" required />
                                </div>
                                <div class="col-md-12 form-group clear-padding">
                                    <button type="submit" id="newsletter_submit" name="newsletter_submit" class="btn btn-default btn-md form-control" style="height: 40px;" value="Signup">Join Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}