@import hotel.dto.entity.HotelSearchResponse
@import crypto.Encrypt
@(errorMessage: String = "Error occurred. Please try again.")(implicit request: RequestHeader, maybeUser: Option[Users], messages: Messages, encrypt: Encrypt)
@import controllers.web.routes
@views.html.web.templates.default(title = "Error", loggedUser = maybeUser) {
	<div class="panel container">
		<div class="pane-heading">
			<h3 class="text-danger">@errorMessage</h3>
		</div>
		<div class="pane-body row">
			<div class="col-md-7">
				@views.html.bookingEngine._B2ChotelForm()
			</div>
		</div>
	</div>
}