@import com.avaje.ebean.Expr
@import java.text.SimpleDateFormat
@import crypto.Encrypt
@import controllers.web.routes
@(flightBookings: FlightBookings)(implicit request: RequestHeader, messages: Messages, encrypt: Encrypt,loggedManager: Option[Users])
@originDestination = @{FlightBookingDestinations.find.where.eq("flightBookingId", flightBookings).findList()}
@currentDate = @{new java.util.Date().format("dd MMM, yyyy")}
@import views.html.paymentapi._
@views.html.web.templates.default(title = "Booking Confirmation", script, Html(""), loggedManager) {
    <div class="container">
        <div class="booking-tab">
            <div class="container clear-padding">
                <ul class="nav nav-tabs">
                    <li class="col-md-3 col-sm-3 col-xs-3"><a data-toggle="tab" class="text-center"><i class="fa fa-male"></i> <span>Traveller Details</span></a></li>
                    <li class="col-md-3 col-sm-3 col-xs-3"><a data-toggle="tab" href="#" class="text-center"><i class="fa fa-edit"></i> <span>Payment &amp; Add-On</span></a></li>
                    <li class="col-md-3 col-sm-3 col-xs-3"><a data-toggle="tab" href="#" class="text-center"><i class="fa fa-circle-o-notch"></i> <span>Review Details</span></a></li>
                    <li class="col-md-3 col-sm-3 col-xs-3 active"><a data-toggle="tab" href="#" class="text-center"><i class="fa fa-check"></i> <span>Complete</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="text-info col-md-12">Thank you for your booking, @flightBookings.getBookings.getContactFirstname</h2>
            <div class="clearfix"></div>
            <div class="gap gap-small"></div>
            <div class="col-md-12">
                @tags.alertFromRequest(request, "success")
                @if(flightBookings.getBookings.getPaymentHistoryId.getPaymentMethodId.getPaymentCategory.eq(PaymentCategories.Debit_Card)) {
                    @if(flightBookings.getBookings.getPaymentHistoryId.getPaymentMethodId.getCode.equalsIgnoreCase("gt")) {
                        @gtpay(flightBookings.getBookings.getPaymentHistoryId, flightBookings.getBookings.getContactFirstname + "" + flightBookings.getBookings.getContactSurname, flightBookings.getBookings.getContactEmail)
                    }
                    @if(flightBookings.getBookings.getPaymentHistoryId.getPaymentMethodId.getCode.equalsIgnoreCase("gp")) {
                        @globalPay(flightBookings.getBookings.getPaymentHistoryId, flightBookings.getBookings.getContactFirstname + "" + flightBookings.getBookings.getContactSurname, flightBookings.getBookings.getContactEmail)
                    }
                    @if(flightBookings.getBookings.getPaymentHistoryId.getPaymentMethodId.getCode.equalsIgnoreCase("qt")) {
                        @quickteller(flightBookings.getBookings.getPaymentHistoryId, flightBookings.getBookings.getContactFirstname + "" + flightBookings.getBookings.getContactSurname, flightBookings.getBookings.getContactEmail)
                    }
                }
            </div>
            <div class="col-xs-2 col-md-2 hidden-xs">
                <a class="btn btn-md btn-primary" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print this Page</a>
            </div>
            <div class="col-md-10 col-xs-12">
                <h5 class="pull-right text-warning col-md-6"><span class="glyphicon glyphicon-lock"></span> Pay now to secure this booking!</h5>
                <h4 class="text-success"><strong>Your booking has been successfully completed.</strong></h4>
            </div>
            <div class="clearfix"></div>
            <div class="gap gap-small"></div>
            <div class="col-md-12 col-lg-12 col-xm-12 row">
                <div class="col-md-4 col-xs-12 col-lg-4 col-sm-4">
                    <h4 class="text-primary">Booking reference</h4>
                    <p>
                        You have booked a @flightBookings.getTripType.name().toLowerCase.replaceFirst("_", " ") flight, from @originDestination.get(0).getDepartureAirportName to @originDestination.get(0).getArrivalAirportName. Please use reference number <strong>@flightBookings.getBookings.getTransactionRef</strong> when contacting @play.Configuration.root().getString("project.name").
                        <br /><br />
                        Travel Documentation: Please be informed that it is the Passenger's responsibility to ensure that all travel documents including passports, visas to final destinations and transit visas where applicable have been duly obtained before embarking on your trip.<br />
                        Kindly note that all bookings made can auto cancel at Airlines discretion and are subject to fare change based on availability.<br />
                        Bookings originating from outside Nigeria are also subject to fare change at any time due to currency fluctuations, government taxes, government policies, and other restrictions
                    </p>
                    <h4 class="text-primary">Ticketing Summary</h4>
                    <p>
                        Your ticket will be issued as soon as we receive your payment.<br /> <br />
                        Once the payment has been confirmed your e-ticket will be sent within the hour.
                    </p>
                </div>
                <div class="col-md-4 col-xs-12 col-lg-4 col-sm-4">
                    <h4 class="text-primary">Booking Summary</h4>
                    <p>Below is a summary for the details provided for the confirmed booking.</p><hr />
                    <div>
                        @for(itinerary <- originDestination) {
                            @defining(new SimpleDateFormat("yyyy-MM-dd'T'HH:mm:ss")) { dtFormat =>
                                <section class="row">
                                    <div class="col-md-5">
                                        @itinerary.getDepartureAirportId.getState (@itinerary.getDepartureAirportCode) @dtFormat.parse(itinerary.getDepartureDate).format("dd-MMM-yyyy hh:mm a")
                                    </div>
                                    <div class="col-md-2"><span class="fa fa-plane"></span></div>
                                    <div class="col-md-5">@itinerary.getArrivalAirportId.getState (@itinerary.getArrivalAirportCode) @dtFormat.parse(itinerary.getArrivalDate).format("dd-MMM-yyyy hh:mm a")</div>
                                </section> <br />
                            }
                        }
                        <hr />
                        <a href="#full-booking-summary" class="btn btn-default btn-md show-info"> Show full details</a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-lg-4 col-sm-4">
                    <h4 class="text-primary">Payment information</h4>
                    <p>This booking is valid until 23:00hrs(Nigerian time), @currentDate. after booking to remain guranteed. <br /><br />
                        Please send us proof of payment to our email <span class="text-info">@play.Configuration.root().getString("project.email")</span>
                        or call @play.Configuration.root().getString("project.phone1")</p>
                    <h4 class="text-primary">Bank Details</h4>
                    <table class="table table-striped" width="100%">
                        <tbody>
                            <tr>
                                <th>Bank Name</th>
                                <td>@flightBookings.getBookings.getPaymentHistoryId.getPaymentMethodId.getName</td>
                            </tr>
                            <tr>
                                <th>Account Name</th>
                                <td>@flightBookings.getBookings.getPaymentHistoryId.getPaymentMethodId.getAccountName</td>
                            </tr>
                            <tr>
                                <th>Account Number</th>
                                <td>@flightBookings.getBookings.getPaymentHistoryId.getPaymentMethodId.getAccountNo</td>
                            </tr>
                            <tr>
                                <th>Amount to Pay</th>
                                <td>@utils.Utilities.moneyFormat(flightBookings.getBookings.getPaymentHistoryId.getTotalAmount)</td>
                            </tr>
                            <tr>
                                <td colspan="2">Please use <strong>@flightBookings.getBookings.getTransactionRef</strong> as your reference.</td>
                            </tr>
                            <tr>
                                <td colspan="2"><a href="#other-banks-detail" class="btn btn-default btn-md show-info"><span class="fa fa-bank"></span> Show Other Banks</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div id="other-banks-detail"  style="padding: 10px; display: none">
                    <h4>Account Name: Travelden Nigeria Limited</h4>
                    <table class="table table-striped">
                    @for(bank <- PaymentMethods.find.where().eq("paymentCategory", PaymentCategories.CASH_PAYMENT).findList()) {
                        <tr>
                            <td><img src="@bank.getLogoUrl" class="img" style="width: 50px" alt="@bank.getName"></td>
                            <td><strong>@bank.getName</strong></td>
                            <td><strong>@bank.getAccountNo</strong></td>
                        </tr>
                    }
                    </table>
                </div>
                <div class="full-itinerary-info" id="full-booking-summary" style="display: none">
                    <div class="tab-content" style="padding: 10px; background: rgba(173, 201, 227, 0.43);">
                        <div role="tabpanel" class="tab-pane active row">
                        @for(item <- originDestination) {
                            <div>
                                <div class="col-md-10"><i class="icon icon-departure"></i>@item.getAirlineName <span> <i class="icon icon-long-arrow-right"></i> </span> <i class="icon icon-arrival"></i> @item.getArrivalAirportName </div>
                                <div class="col-md-2 pull-right">Duration: @item.getDuration</div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <table class="table table-responsive" cellspacing="0" width="100%">
                                        <tbody>
                                        @for(flightSegment <- item.getFlightBookingDestinationSegmentsList){
                                            <tr>
                                                <td>
                                                    <p class="text-center">@flightSegment.getAirlineCode</p>
                                                    <div class="image"><img src="https://s3-us-west-2.amazonaws.com/travelden/airline/@flightSegment.getAirlineCode.concat(".png")" alt="@flightSegment.getAirlineCode" class="img img-circle flight-ico-img"/></div>
                                                </td>
                                                <td>
                                                    <strong>@flightSegment.getDepartureDt</strong><br />
                                                    <small> @flightSegment.getDepartureAirportId.getAirportName (@flightSegment.getDepartureAirportCode)</small>
                                                </td>
                                                <td><i class="icon icon-long-arrow-right"></i></td>
                                                <td>
                                                    <strong>@flightSegment.getArrivalDt
                                                    </strong><br />
                                                    <small>@flightSegment.getArrivalAirportId.getAirportName (@flightSegment.getArrivalAirportCode)</small>
                                                </td>

                                                <td class="text-center" width="12%">
                                                    <small>
                                                        <span>@if(item.getNumOfStops == 0) {
                                                            Non stop
                                                        } else {
                                                            @item.getNumOfStops Stop(s)
                                                        }
                                                        </span>
                                                    </small>
                                                    <div class="clearfix"></div>
                                                    <small class="text-primary">@item.getCabinClass</small>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@script = {
    <script>
        jQuery(function() {
            $(".show-info").on('click', function() {
                var idField = $(this).attr('href');
                $(idField).toggle();
                window.location.href = idField;
            });
        });
        function printpage() {window.print()}
    </script>
}