@import crypto.Encrypt
@()(implicit request: RequestHeader, messages: Messages, encrypt: Encrypt, user: Option[Users])
@import controllers.web.routes
@import views.html.bookingEngine._
@import views.html.web.templates._
@main("Flight Result") {
    <div class="container spacer30">
        <div class="medium-container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                    <img src="@routes.Assets.img("technology.png")" class="img img-responsive" style="margin: 0 auto; width: 14em; margin-top: 10px;" /><hr />
                    <h1>Oops!</h1>
                    <h4>@Messages("web.flight.resulterror")</h4>
                </div>
            </div>
        </div>
        <hr />
        <section class="search-bar flight-search">
            <h2 class="heading2">@Messages("web.flight.searchagain")</h2>
            @_B2CflightForm.apply(user)
        </section>
    </div>
}