@(tokenId: String, passwordsForm: Form[(String, String)])(implicit request: RequestHeader, messages: Messages)
@import b3.vertical.fieldConstructor
@import controllers.b2b.routes
@default("Reset Password") {
    <div class="splash-container">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading"><img src="@routes.Assets.commonImg("logo.png")" alt="logo" width="102" class="logo-img">
                <h3 class="splash-description">Reset your Password</h3>
            </div>
            <div class="panel-body">
                @tags.alertFromRequest(request, "error")
                @passwordsForm.globalError.map { error =>
                    @tags.alert(error.message, "error")
                }
                @b3.formCSRF(controllers.b2b.routes.AuthCtrl.handleResetPassword(tokenId), 'role -> "form") {
                    <div class="login-wrap">
                        @b3.password(passwordsForm("password1"), '_hiddenLabel -> Messages("field.password"), 'placeholder -> Messages("field.password"), 'autofocus -> true)
                        @b3.password(passwordsForm("password2"), '_hiddenLabel -> Messages("field.password.repeat"), 'placeholder -> Messages("field.password.repeat"))
                        @b3.submit('class -> "btn btn-primary btn-block btn-lg") {
                            @Messages("reset")
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}
