@import crypto.Encrypt
@(booking: Bookings)(implicit request: RequestHeader, messages: Messages, encrypt: Encrypt, maybeUser: Option[Users])
@views.html.web.templates.default(title = "Payment Online", Html(""), Html(""), maybeUser) {
    <div class="container">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="col-md-12">
                            @if(booking.getPaymentHistoryId.getStatus.equals(PaymentStatus.Paid)) {
                                <h3 class="text-success text-center"><span class="fa fa-check-circle-o"></span> Payment Successful</h3>
                                <h4 class="text-center"><strong>Thanks for your patronage!</strong></h4>
                            } else {
                                <h3 class="text-danger"><span class="fa fa-times"></span> Payment Failed</h3>
                            }

                            <table class="col-md-12 table table-bordered table-responsive">
                                <tr>
                                    <th>Transaction ID</th>
                                    <td>@booking.getTransactionRef</td>
                                </tr>
                                <tr>
                                    <th>Booking Status</th>
                                    <td>@booking.getStatus.name()</td>
                                </tr>
                                <tr>
                                    <th>Service Type</th>
                                    <td>@booking.getPaymentHistoryId.getServiceCategory.name()</td>
                                </tr>
                                <tr>
                                    <th>Total Amount</th>
                                    <td>@booking.getPaymentHistoryId.getCurrency @utils.Utilities.numberFormat(booking.getPaymentHistoryId.getTotalAmount)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}