@import crypto.Encrypt
@(emailForm: Form[String])(implicit request: RequestHeader, messages: Messages, encrypt: Encrypt)
@import b3.vertical.fieldConstructor
<div class="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Forget Password?</h4>
    </div>
    <div class="modal-body">
        @b3.formCSRF(controllers.web.routes.AuthCtrl.handleForgotPassword) {
        <div style="padding: 22px;">
            <h3>@Messages("forgot.title")</h3>
            @b3.text(emailForm("email"), '_hiddenLabel -> Messages("field.email"), 'placeholder -> "your@email.com", 'autofocus -> true)
            @b3.submit('class -> "btn btn-primary") {
                @Messages("submit")
            }
        </div>
    }
    </div>
</div>