@import controllers.admin.cms.routes
<link rel="stylesheet" type="text/css" href="@controllers.admin.routes.Assets.commonLib("jsTree/themes/default/style.css")" />
<script type="text/javascript" src="@controllers.admin.routes.Assets.commonJs("jquery-2.1.1.min.js")"></script>
@defining(CmsContentCategories.find.all()) { categories =>
    <div class="pd10 bg-muted">
        <h4>Categories</h4>
        @if(categories.size() != 0) {
            <div id="categories">
            </div>
            <script>
              $(function() {
                  $('#categories').on('changed.jstree', function (e, data) {
                    var i, j, selected = '', cat_id = null;
                    for(i = 0, j = data.selected.length; i < j; i++) {
                      selected = data.instance.get_node(data.selected[i]).text;
                    }
                    cat_id = data.node.id;
                    window.location.href = "?u_a=cat&cat_id="+cat_id+"&cat_name="+selected;
                  }).jstree({ 'core' : {
                        'data' : [
                            @for(category <- categories) {
                               { "id" : "@category.getId", "parent" : "@if(category.getParentId == null) {#} else {@category.getParentId.getId}", "text" : "@category.getName",'state' : { 'opened': true, 'selected' : false } },
                           }
                        ]
                  }});
              });
            </script>
        } else {
            <h5><strong>Not Category available</strong></h5>
        }
    </div>
}