@import controllers.web.routes
@import crypto.Encrypt
@(request: RequestHeader)(implicit messages: Messages, requestHeader: RequestHeader, encrypt: crypto.Encrypt)
@views.html.web.templates.default("Not Found") {
    <div class="full-page">
        <div class="bg-holder full">
            <div class="bg-mask"></div>
            @*<div class="bg-blur" style="background-image:url(img/1300x900.png);"></div>*@
            <div class="bg-holder-content full text-white">

                <div class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <p class="text-hero">404</p>
                                <h1>Page is not found</h1>
                                @*<p>Aptent vulputate gravida curae lacinia imperdiet tempus erat vulputate posuere mollis quisque magna facilisi sagittis ridiculus consequat a nisl tincidunt</p>*@
                                <a class="btn btn-white btn-ghost btn-lg mt5" href="@routes.ApplicationCtrl.index()"><i class="fa fa-long-arrow-left"></i> to Homepage</a>
                            </div>
                        </div>
                    </div>
                </div>
                @*<ul class="footer-links">
                    <li><a href="@routes.ApplicationCtrl.index()">Home</a></li>
                    <li><a href="@routes.ApplicationCtrl.page("flights")">Flights</a></li>
                    <li><a href="@routes.ApplicationCtrl.page("hotels")">Hotels</a></li>
                    <li><a href="@routes.ApplicationCtrl.page("visa")">Visa</a></li>
                    @*<li><a href="#">Cheap Flights</a></li>*@
                    @*<li><a href="#">Business</a></li>*@
                    @*<li><a href="#">Media</a></li>*@
                    @*<li><a href="@routes.ApplicationCtrl.page("contact-us")">Contact Us</a></li>*@
                    @*<li><a href="#">Advertise</a></li>*@
                @*</ul>*@
            </div>
        </div>
    </div>
}