@import controllers.b2b.routes

@(title: String, tab: String = "", scripts: Html = Html(""), styles: Html = Html(""), bodyClass: String = "left-side-collapsed sidebar-collapsed")(content: Html)(implicit loggedManager: Users, messages: Messages)
@navbarContent = {

    <div style="height: 50px; background: #ec6256; padding: 5px 0; color: #fff; ">
        <div class="container">
            <p class="text-white">Office hours Monday-Friday, 8am-5pm. After hours 6pm-10pm. Saturday, 10am-10pm and sunday 2pm-10pm. Office line 01-4482500, after hours 09082888865. Email info@@travelden.com.  Visa/Hotels holidays@@travelden.com</p>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top be-top-header">
        <div class="container-fluid">
            <div class="navbar-header"><a href="@routes.ApplicationCtrl.index()" class="navbar-brand" style="background-image: url('@loggedManager.getAgentCorporateDetailId.logo()');"></a></div>
            <div class="be-right-navbar">
                <ul class="nav navbar-nav navbar-right be-user-nav">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><img src="@loggedManager.avatar()" alt="Avatar"><span class="user-name">@loggedManager.fullName() - @org.apache.commons.lang3.text.WordUtils.capitalize(loggedManager.getRole.replaceAllLiterally("_", " ")).substring(3)</span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>
                                <div class="user-info">
                                    <div class="user-name">@loggedManager.fullName</div>
                                    <div class="user-position online">Available</div>
                                </div>
                            </li>
                            <li><a href="@routes.ApplicationCtrl.myAccount()"><span class="icon mdi mdi-face"></span> Account</a></li>
                            <li><a href="@routes.AuthCtrl.signOut()"><span cla  ss="icon mdi mdi-power"></span> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right be-icons-nav">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon mdi mdi-notifications"></span><!--<span class="indicator"></span>--></a>
                        <ul class="dropdown-menu be-notifications">
                            <li>
                                <div class="title">Notifications<span class="badge">0</span></div>
                                <div class="list">
                                    <div class="be-scroller">
                                        <div class="content">
                                            <ul>
                                                    <!--<li class="notification notification-unread">
                                                    <a href="#">
                                                        <div class="image"><img src="assets/img/avatar2.png" alt="Avatar"></div>
                                                        <div class="notification-info">
                                                        <div class="text"><span class="user-name">Jessica Caruso</span> accepted your invitation to join the team.</div><span class="date">2 min ago</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="notification"><a href="#">
                                                    <div class="image"><img src="assets/img/avatar3.png" alt="Avatar"></div>
                                                    <div class="notification-info">
                                                        <div class="text"><span class="user-name">Joel King</span> is now following you</div><span class="date">2 days ago</span>
                                                    </div></a></li>
                                                <li class="notification"><a href="#">
                                                    <div class="image"><img src="assets/img/avatar4.png" alt="Avatar"></div>
                                                    <div class="notification-info">
                                                        <div class="text"><span class="user-name">John Doe</span> is watching your main repository</div><span class="date">2 days ago</span>
                                                    </div></a></li>
                                                <li class="notification"><a href="#">
                                                    <div class="image"><img src="assets/img/avatar5.png" alt="Avatar"></div>
                                                    <div class="notification-info"><span class="text"><span class="user-name">Emily Carter</span> is now following you</span><span class="date">5 days ago</span></div></a></li>
                                                -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer"> <a href="#">View all notifications</a></div>
                            </li>
                        </ul>
                    </li>
                    <!--<li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon mdi mdi-apps"></span></a>
                        <ul class="dropdown-menu be-connections">
                            <li>
                                <div class="list">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-xs-4"><a href="#" class="connection-item"><img src="assets/img/github.png" alt="Github"><span>GitHub</span></a></div>
                                            <div class="col-xs-4"><a href="#" class="connection-item"><img src="assets/img/bitbucket.png" alt="Bitbucket"><span>Bitbucket</span></a></div>
                                            <div class="col-xs-4"><a href="#" class="connection-item"><img src="assets/img/slack.png" alt="Slack"><span>Slack</span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer"> <a href="#">More</a></div>
                            </li>
                        </ul>
                    </li>-->
                </ul>
            </div><a href="#" data-toggle="collapse" data-target="#be-navbar-collapse" class="be-toggle-top-header-menu collapsed">Menu</a>
            <div id="be-navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="background: #f5f5f5;left: 10px;" class="@("nav-active".when(tab == "dashboard"))"><a href="@routes.ApplicationCtrl.index()"><strong>@loggedManager.getAgentCorporateDetailId.getCompanyName</strong></a></li>
                    <li class="@("nav-active".when(tab == "flight"))"><a href="@routes.FlightCtrl.index()">Flight Search</a></li>
                    <li class="@("nav-active".when(tab == "hotel"))"><a href="@routes.PackageCtrl.vacationPackages()"><span class="label label-danger">New</span> Vacation Packages</a></li>
                    <li class="@("nav-active".when(tab == "report"))"><a href="@routes.ApplicationCtrl.report">Sales Records</a></li>
                    @if(loggedManager.getRole.equalsIgnoreCase("b2b_owner")) {
                        <li class="dropdown @("nav-active".when(tab == "user"))">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                                Manage Mark Up &amp; Users <span class="mdi mdi-caret-down"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="@routes.UserCtrl.create()"> Create Account</a></li>
                                <li><a href="@routes.UserCtrl.index()"> Manage Markups</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
}
@rightNavbarContent = {

}
@main(title, navbarContent, rightNavbarContent, scripts, styles, bodyClass)(content)